/*----------Heeader--------*/

header {
    text-align: center;
}

h1 + p{
    font-size: 30px;
    color: black;
    margin-top: .5em;
    /* margin-bottom: 10px; */
    padding-bottom: 10px;
    /* border-bottom: 1px dotted; */
}

.headButton {
    margin-right: -1%;
}

  
button,
input {
    color: white;
    background: #508abc;
    border: solid 1px;
    border-color: rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: .85em;
    padding: .65em 1em;
    border-radius: .3em;
    outline: 0;
}

input {
    background: white;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
}

#toggleList {
    float: right;
}

/*----------List--------*/

.purp{
    padding-top: 50px;
    font-size: 20px;
}

ul {
  padding-left: 0;
  list-style: none;
  text-transform: capitalize;
  font-size: 20px;
}
li {
  padding: .45em .5em;
  margin-bottom: .35em;
  display: flex;
  align-items: center;
}

.list button + button {
    background: #768da3;
  }
  .list li button + button {
    background:#768da3;
  }
  li button:first-child {
    margin-left: auto;
    background: #508abc;
  }
  .list li button:last-child {
    background: #508abc;
  }
  li button {
    font-size: .75em;
    padding: .5em .65em;
  }